$def with(id,nombre,apellido1,apellido2,matricula,edad,genero,estado,fecha)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>VIEW</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/assets/form-validation.css" rel="stylesheet">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/001">Mostrar alumnos</a>
    <a class="navbar-brand" href="/002">Insertar un nuevo alumno</a>
    <a class="navbar-brand" href="/006">Buscar un alumno</a>
    <a class="navbar-brand" href="/">MENU PRINCIPAL</a>
  </nav>

  <body class="bg-light">
    <h1 class="h1">VIEW</h1>

    <div class="container">
      <div class="py-5 text-center">
        <h2>ESTE ES EL CONTACTO CON ID $id</h2>
      </div>

      <div class="row">
        
        <div class="col-md-8 order-md-1">
          <form method="POST" action="" class="needs-validation" novalidate>
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" name="name" id="firstName" placeholder="" value="$nombre" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="firstlastName">Primer apellido</label>
                <input type="text" class="form-control" name="apellido1" id="firstlastName" placeholder="" value="$apellido1" readonly>
              </div>
              <div class="col-md-6 mb-3">
                <label for="secondlastName">segundo apellido</label>
                <input type="text" class="form-control" id="secondlastName" name="apellido2" placeholder="" value="$apellido2" readonly>
              </div>
            </div>
            <div class="mb-3">
              <label for="matricula">Matricula <span class="text-muted"></span></label>
              <input type="number" class="form-control" name="matricula" id="matricula" value="$matricula" readonly>
            </div>
            <div class="mb-3">
              <label for="age">Edad</label>
              <input type="number" class="form-control" value="$edad" name="age" id="age" maxlength="3" minlength="1" min="1" max="130" name="edad" readonly>
            </div>
            <div class="mb-3">
              <label for="born">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="born" name="Nacimiento" value="$fecha" readonly>
            </div>
            <div class="mb-3">
              <label for="genero">Sexo</label>
              <input type="text" class="form-control" name="genero" value="$genero" id="genero" readonly>
            </div>
            <div class="mb-3">
              <label for="estado" >Estado Civil</label>
              <input type="text" class="form-control" name="estado" id="estado" value="$estado" readonly>
            </div>
          </form>  
  
    </body>
</html>
